body {
    background-image: url(assets/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

/* .clock-container {} */

.clock {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    /* text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.774); */
}

.clock span {
    color: rgb(23, 97, 171);
}